ape==5.8.1
basicPlotteR==0.0.0.9000
bayesplot==1.11.1
brms==2.22.0
broom==1.0.7
clipr==0.8.0
dplyr==1.1.4
flexsurv==2.3.2
ggforestplot==0.1.0
ggplot2==3.5.1
ggrepel==0.9.6
latex2exp==0.9.6
MASS==7.3.64
nlme==3.1.166
phytools==2.4.4
phylolm==2.6.5
RColorBrewer==1.1.3
readr==2.1.5
readxl==1.4.3
remotes==2.5.0
reshape2==1.4.4
rstan==2.32.6
survival==3.8.3
survminer==0.5.0
thematic==0.1.6
tidybayes==3.0.7
xtable==1.8.4